html{
    background-color: #77bbfd;
    text-align: center;
}

header{
    display: flex;
    flex-flow: column;
    align-content: center;
    text-align: center;
}
#donutGif{
    max-height: 200px;
    max-width: 200px;
    align-self: center;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    max-width: fit-content;
    align-self: center;
}

a:hover{
    background-color: dimgrey;
    box-sizing: border-box;
    border-radius: 2rem;
}

body{
    margin: 10%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    padding: 1rem;
}

#donutDisplay{
   display: flex;
   justify-content: center;
}

#multiBtnDisplay, #autoBtnDisplay{
    display: inline;
}

#autoClicker, #multiplier{
    height: 40%;
    width: 60%;
    background-image: url(images\donut-header.jpg);
    font-size: larger;
    font-weight: bold;
}

#donutDisplay{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 5%;
}

#makeDonut{
    height: 80px;
    width: 250px;
    background-image: url(images\donut-header.jpg);
    font-size: larger;
    font-weight: bolder;
}

#clearStatsSpace{
    display: flex;
    align-content: center;
}

