*{
    text-decoration: underline;
}

body{
    margin: 10%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    padding: 2rem;
}

#donutDisplay{
   display: flex;
   justify-content: center;
}

#multiBtnDisplay, #autoBtnDisplay{
    display: inline;
}